:root {
  /* PALETA COLOR*/
  --bg-color: #e8e9eb; 
  --text-color: #2f5499; 
  --accent-color: #0059ff; 


}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: "Montserrat", sans-serif;
}

/* Utilidades de Texto Globales */
.text-accent {
  color: var(--text-color) !important;
}
.tracking-wide {
  letter-spacing: 0.15em;
  font-weight: 500;
}
.font-small {
  font-size: 0.85rem;
  letter-spacing: 1px;
}
.hover-underline:hover {
  text-decoration: underline !important;
}
